body{
    margin: 0px;
    border-width: 10px;
}

.banner{
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    border-top: #2ccc74 solid 10px;
    display: flex;
    background-size: cover;
}
.titulo-principal{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-variant-ligatures: no-contextual;
    color: white;
    font-size: 58px;
    
}
.hand{
    margin-left: 238px;
    position: relative;
    top: 4px;
}
.plataformas:hover{
    opacity: 0.65;
    filter: alpha (opacity=65);
    background-color: black;
}
.ponto{
    color: #2ccc74;
}

.paragrafo1{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.lorem{
    background-color: #e3e3e3;
    display: flex;
}
.center{
    text-align: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    text-decoration-style: black solid;
    text-align: center;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #e3e3e3;
}
.icones{
    display: flex;
    text-align: center;

}
.maria{
    background-color: #2ccc74;
    border-radius: 44px;
    margin-top: 51px;
    padding: 18px;
}
footer{
    background-color: #e3e3e3;
    align-items: center;
    padding: 33px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 425px;
    padding-left: 338px;
}
